SOLANA_NETWORK=devnet
SOLANA_RPC_URL=https://mainnet.helius-rpc.com/?api-key=your-api-key
SOLANA_RPC_DEVNET_URL=https://devnet.helius-rpc.com/?api-key=your-api-key
SOLANA_WS_URL=wss://mainnet.helius-rpc.com/?api-key=your-api-key
SOLANA_WS_DEVNET_URL=wss://devnet.helius-rpc.com/?api-key=your-api-key
JUPITER_API_KEY=your-api-key
